#если допустить ошибку в файле то сайт не загрузится будет отображаться белый лист или ошибка 500.
RewriteEngine On #включает модуль Rewrite
#Перезапись url по условиям
RewriteCond %{REQUEST_FILENAME} !-f
#(параметр !-f означает что если запрос идет не на файл)
#RewriteCond %{REQUEST_FILENAME} !-d
#Это не обязательный параметр предосталяет возможность листинга папок [если закоментировать листинг будет не доступен](параметр !-d означает что если запрос идет не на папку) направим запрос на index.php
RewriteRule (.*) index.php?$1 [L,QSA] #Правило переадресации флаги L - означает что данноре правило является последним, QSA - значит все get-параметры которые возможны будут добавляться